<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <ExcludeByFile>
            **/tests/**/*.cs,
            **/src/Api/**/*.cs,
            **/src/AppHost/**/*.cs,
            **/src/Infrastructure/Repositories/CosmosProductDataStore.cs,
            **/src/Infrastructure/Repositories/ICosmosProductDataStore.cs
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
